body {
    background-color: blue;
    display: grid;
}


form {
    background-color: pink;
    width: 100px;
    padding: 35%;
   margin: 10%;
}


button {
    background-color: blue;
    width: 200px;
    padding: 20px;
}
.C {
    background-color: white;
    grid-template-rows: auto(repeat,4);

}
